<%- include partials/header.ejs %>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Software Developer</div>
                <div class="intro-heading">Slevin Zhang</div>
                <a href="/contact" class="btn btn-xl">Get in Touch</a>
            </div>
        </div>
    </header>
<%- include partials/footer.ejs %>
