<%- include partials/header.ejs %>
    <!-- Project Grid Section -->
    <section id="projects" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">Personal and Clients' projects.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 projects-item">
                    <a href="#portfolioModal1" class="projects-link" data-toggle="modal">
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 projects-item">
                    <a href="#portfolioModal2" class="projects-link" data-toggle="modal">
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 projects-item">
                    <a href="#portfolioModal3" class="projects-link" data-toggle="modal">
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>Teamhouse</h4>
                        <p class="text-muted">Website Development</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 projects-item">
                    <a href="#portfolioModal4" class="projects-link" data-toggle="modal">
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/golden.png" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>Portfolio</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 projects-item">
                    <a href="#portfolioModal5" class="projects-link" data-toggle="modal">
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/escape.png" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>Escape</h4>
                        <p class="text-muted">Website Development</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 projects-item">
                    <a href="#portfolioModal6" class="projects-link" data-toggle="modal">
                        <div class="projects-hover">
                            <div class="projects-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/projects/dreams.png" class="img-responsive" alt="">
                    </a>
                    <div class="projects-caption">
                        <h4>Dreams</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Project Modals -->
    <!-- Use the modals below to showcase details about your projects projects! -->

    <!-- Project Modal 1 -->
    <div class="projects-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Round Icons</h2>
                            <p class="item-intro text-muted">Icon practice from UI design class.</p>
                            <img class="img-responsive img-centered" src="img/projects/roundicons-free.png" alt="">
                            <p>A practice of designing colourful icons in a restricted format - circle. Designed in Mac application Sketch 3.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Project Modal 2 -->
    <div class="projects-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Startup Framework</h2>
                            <p class="item-intro text-muted">A CSS practice for making mordern websites.</p>
                            <img class="img-responsive img-centered" src="img/projects/startup-framework-preview.png" alt="">
                            <p>A personal practice of mimicing popular CSS framework such as Bootstrap to learn the process of developing a reusable framework and learn about CSS.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Project Modal 3 -->
    <div class="projects-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Teamhouse</h2>
                            <p class="item-intro text-muted">Delivered a landing page with a partner.</p>
                            <img class="img-responsive img-centered" src="img/projects/treehouse-preview.png" alt="">
                            <p>Worked with a partner who is responsible for the front-end while I set up the server and the back-end for a landing page website for a foreign agency company.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Project Modal 4 -->
    <div class="projects-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Portfolio Design</h2>
                            <p class="item-intro text-muted">First iteration desgin of personal projects.</p>
                            <img class="img-responsive img-centered" src="img/projects/golden-preview.png" alt="">
                            <p>A template for personal projects websites, which is also what this site is based on.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Project Modal 5 -->
    <div class="projects-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Escape</h2>
                            <p class="item-intro text-muted">Web agency template.</p>
                            <img class="img-responsive img-centered" src="img/projects/escape-preview.png" alt="">
                            <p>Worked with a partner to build a template for web development agency use.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Project Modal 6 -->
    <div class="projects-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Dreams</h2>
                            <p class="item-intro text-muted">Photoshop practice.</p>
                            <img class="img-responsive img-centered" src="img/projects/dreams-preview.png" alt="">
                            <p>Practice using photoshop to design a landing page, exporting design as PSDs.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Modal -->
<%- include partials/footer.ejs %>
